<%  for (var i = 0; i < 15; i++) {%>
 <div class="product">
  <h5><%=  "小米手机"%></h5>
<img src="/images/product.png" alt="">
   <p><%= "小米是世界上最好的手机，虽然我现在用的是魅族，虽然我上次买的红米是那么的烂，虽然下一代我准备买华为或者三星，但是小米依然是世界上最好的手机。" %></p>
</div>
<% } %>
